section{
    vertical-align: top;
    padding: 20px;
    display: inline-block;
    max-width: 46%;
    min-width: 320px;
    min-height: 750px;
    border-style: solid;
    text-align: center;
}
section#red{
    background-color: indianred;
}
section#blue{
    background-color: skyblue;
}
header{text-align: center;}
footer{text-align: center;}