@font-face {
font-family: "Dopestyle";
src: url("Fonts/Dopestyle.ttf");
}
body{
    background-image: url(greytexture.jpg);
    background-size: cover;
}
header{
    background-image: url(homestudio1.jpg);
    color: white;
    height: 520px;
    background-position:0 25%;
}
.welcome{
    text-align: center;
    font-weight: normal;
}
.welcome h2{
    font-size: 50px;
    padding: 100px 0 0 0;
    font-family: Dopestyle;
}
.welcome h1{
    margin: 0;
    font-size: 150px;
    font-family: Dopestyle;
}
button{
    margin: 40px 0 0 0;
    border: none;
    background: linear-gradient(to bottom right, darkgreen, limegreen);
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
}