body{
    background-image: url(sky.jpg);
    background-size: cover;
}
nav{
    width: 60%;
    margin: auto;
    border: solid white;
}
header{
    background: linear-gradient(to bottom right, blue , darkblue);
    text-align: center;
    color: white;
    padding: 20px 0;
    font-size: 30px;
}
header h1{
    margin: 0;
}
footer{
    background: linear-gradient(to bottom right, blue , darkblue);
    text-align: center;
    padding: 20px 0;
}
footer a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 0 10px;
}
main{
    background: linear-gradient(to bottom right, white , lightblue);
    height: 567px;
}
main h2{
    padding: 20px;
    margin: 0;
    text-align: center;
}
main a{
    text-align: center;
    display: block;
    padding: 5px;
    text-decoration: none;
    color: black;
}
@media (max-width: 600px){
    nav{
        width: 100%;
    }
    header h1{
        font-size: 75px
    }
    main h2{
        font-size: 50px
    }
    main a{
        font-size: 30px;
    }
    main{
        background-image: url(sky.jpg);
    }
    body{
        background-image: url();
    }
}